{% extends 'base.html' %}

{% block title %}Adhérent{% endblock %}

{% block content_container_class %}

{% endblock %}

{% block content %}

<h2 class="h2-gradient">Les avantages d'être adhérent</h2>
<p>
    Profitez de tariffs réduit sur nos évènements tout en supportant l'association.
</p>

<h2 class="h2-gradient">Comment devenir adhérent ?</h2>
<p>
    Il suffit de s'inscrire en dessous et de cotiser pour l'année.
    Les étudiants en première années n'ont pas l'obligation de cotiser.
    La cotisation s'éleve à 10 Euros.
</p>
<h2 class="h2-gradient">Remplissez le formulaire pour devenir adhérent</h2>


{% include 'form_snippet.html' %}
    
    





{% endblock %}