
{% extends 'base.html' %}
{% load static %}

{% block title %}Adhérent{% endblock %}

{% block header_script %}

{% endblock %}

{% block content %}
{% if first_year %}
<h1 class="h1-gradient">Bienvenue dans la famille d'Antred !</h1>
<p>
    Comme c'est ta première année en France la cotisation n'est pas nécessaire.
    Si toutefois tu veux contribuer, le lien est ci-dessous.
</p>

{% endif %}

<div id="block" style="z-index: 0; position: relative;">
    <div style="width: 60px;" class="paypal-btn"></div>
</div>

<div id="lydiaButton">Pay with Lydia</div>
{% endblock %}


{% block script %}
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('.paypal-btn');</script>
<script type="text/javascript" src="{% static 'js/LYDIASDK.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#lydiaButton').payWithLYDIA({
        amount: 10.5, // amount in €
        vendor_token: '5f104a8d9fbdb898730605',
        recipient: '0711223344', //cellphone or email of your client. Leave it like this for your test
        message : "Facture 004 pour un t-shirt taille M", //object of the payment
        env: 'test',
        render : '<img src="https://lydia-app.com/assets/img/paymentbutton.png" />', //button image
        // The client will be redirect to this URL after the payment
        browser_success_url : "http://mysite.com/success.php?order_ref=123",
              // This URL will be called by our server after the payment so you can update the order on your database
        confirm_url : "http://mysite.com/confirm.php?order_ref=123"
      });
    });
</script>
{% endblock %}
