
{% extends 'base.html' %}
{% load static %}

{% block title %}Adhérent{% endblock %}

{% block header_script %}

{% endblock %}

{% block content %}
{% if first_year %}
<h1 class="h1-gradient">Bienvenue dans la famille d'Antred !</h1>
<p>
    Comme c'est ta première année en France la cotisation n'est pas nécessaire.
    Si toutefois tu veux contribuer, le lien est ci-dessous.
</p>

{% endif %}

<div id="block" style="z-index: 0; position: relative;">
    <div style="width: 60px;" class="paypal-btn"></div>
</div>

<div id="paymentButton">Payment</div>
{% endblock %}


{% block script %}
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('.paypal-btn');</script>
<script type="text/javascript" src="{% static 'js/LYDIASDK.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
				var orderRef = new Date();
				$('#paymentButton').payWithLYDIA({
					amount: 0.5,
					vendor_token: '547ed8db34703018097269',
					recipient: '0650939350',

					message : "Facture 004",
					orderRef: orderRef.toString(),
					env: 'test'
				});

			});
</script>
{% endblock %}
