.gradient-footer {
    background: rgb(33,86,147);
    background: linear-gradient(148deg, rgba(33,86,147,1) 2%, rgba(237,110,33,1) 100%);
}

.footer-logo-container {
  display: grid;
  place-items: center;
}

.footer-logo {
    width: 30px;
    height: 30px;
}

.fa {
    color: $light;
}

footer {
  overflow: hidden;
  max-width: 100%;
}

.copyright-container {
  display: grid;
  place-items: center;
}

.footer-links-container {
  display: grid;
  place-items: center;
}

p.text-hero {
  margin: 0;
}

html{
  height:100%;
}

body{
  min-height:100vh;

  display: flex;
  flex-direction: column;

}

footer {
  margin-top: auto;
}

