div.header-logo {
    display: none;

    @media #{$mq-small} {
        display: grid;
        place-items: center;
        margin: 5px;
    }
}

nav.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-strip-figure {
    display: grid;
    place-items: center;
}

.nav-strip-figure-image {
    width: 70px;
    height: 70px;
}
.caption {
    display: block;
}

.nav li {
    display: inline-block;
    float: none;
}

a.nav-link {
    @media #{$mq-small} {
        padding-left: 0px;
        padding-right: 0px;
    }
    @media #{$mq-medium} {
        padding-left: 16px;
        padding-right: 16px;
    }
}

li.nav-item {
    @media #{$mq-small} {
        padding-left: 12px;
        padding-right: 12px;
    }
    @media #{$mq-xxlarge} {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.navbar-brand {
    transform: translateX(-50%), translateY(50%);
    left: 42%;
    top: 1px;
    position: absolute;
  }

ul {
  display: table;
  margin: 0 auto;
}

