.nav-strip-figure {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.nav-strip-figure-image {
    width: 70px;
    height: 70px;
}
.caption {
    display: block;
}

.nav {
    white-space: nowrap;
    overflow-x: auto;
}

.nav li {
    display: inline-block;
    float: none;
}

.navbar-brand {
    transform: translateX(-50%), translateY(50%);
    left: 42%;
    top: 1px;
    position: absolute;
  }

ul {
  display: table;
  margin: 0 auto;
}

