{% extends 'base.html' %}

{% block head_script %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        themeSystem: 'bootstrap',
        headerToolbar: {
            start: 'title',
            center: '',
            end: 'today prevYear,prev,next,nextYear'
        },
        buttonText: {
            today: 'aujourd\'hui'
        },
        height: 625,
        showNonCurrentDates: false,
          eventClick: function(info) {

          },
        events: [
            {% for event in events %}
            {
                title: '{{ event.title }}',
                start: '{{ event.date|date:"Y-m-d" }}',
                end: '{{ event.date }}',
                id: {{ event.id }},
                url: '{{ event.images.url }}',
            },
            {% endfor %}
        ]
      });
      calendar.render();
    });
</script>
{% endblock %}


{% block content %}
<div id="calendar"></div>
<br>

<div class="js-event-click"></div>

<div class="d-none card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://source.unsplash.com/RCAhiGJsUUE/1920x1080" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted card-date"></small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}{% endblock %}