{% load static %}


<!-- Footer -->
<footer class="footer gradient-footer">

    <div class="row text-center">

        <div class="col-4">
            <img src="{% static 'img/bt-logo.png' %}" class="footer-logo" alt="company logo">
        </div>

        <div class="col-4">
            <p class="text-hero">Antred ® 2020</p>
        </div>

        <div class="col-4 justify-content-center">
            <!-- Facebook -->
            <a class="fb-ic" href="#">
              <i class="fa fa-facebook"> </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic" href="#">
              <i class="fa fa-instagram"> </i>
            </a>
            
            <!--Mail-->
            <a class="mail-ic" href="mailto:antredparis@gmail.com">
              <i class="fa fa-envelope"></i>
            </a>

        </div>
    </div>
</footer>

