{% load static %}
<div class="container">
    <div class="row align-items-center">
        <span class="col footer-logo-container">
            <img src="{% static 'img/bt-logo.png' %}" class="footer-logo" alt="company logo">
        </span>
        <span class="col copyright-container">
            <p class="text-hero text-center">Antred ® 2020</p>
        </span>
        <span class="col">
            <span class="row">
            <span class=" col-1">
                <a class="fb-ic" target="_blank" href="https://www.facebook.com/EntraideEtudiantsMauriciens">
                    <i class="fa fa-facebook"> </i>
                </a>
            </span>
            <span class="offset-md-1 col-1">
                <a class="ins-ic" target="_blank" href="https://www.instagram.com/entraide_etudiant_mauricien/">
                    <i class="fa fa-instagram"> </i>
                </a>
            </span>
            <span class="offset-md-1 col-1">
                <a class="mail-ic" href="mailto:antredparis@gmail.com">
                    <i class="fa fa-envelope"></i>
                </a>
            </span>
            </span>
        </span>
    </div>
</div>