{% load static %}

<div class="row text-center">
    <span class="col footer-logo-container">
        <img src="{% static 'img/bt-logo.png' %}" class="footer-logo" alt="company logo">
    </span>
    <span class="col copyright-container">
        <p class="text-hero">Antred ® 2020</p>
    </span>
    <span class="col footer-links">
        <span class="footer-links-container">
            <a class="fb-ic" target="_blank" href="https://www.facebook.com/EntraideEtudiantsMauriciens">
                <i class="fa fa-facebook"> </i>
            </a>
        </span>
        <span class="footer-links-container">
            <a class="ins-ic" target="_blank" href="https://www.instagram.com/entraide_etudiant_mauricien/">
                <i class="fa fa-instagram"> </i>
            </a>
        </span>
        <span class="footer-links-container">
            <a class="mail-ic" href="mailto:antredparis@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
        </span>
    </span>
</div>
