{% load static %}
<div style="position:relative; z-index:10">
    <div style="height: 5px;" class="gradient-footer"></div>
    <div class="header-logo">
        <a href="#">
            <img src="{% static 'img/navbar-logo.png' %}" alt="logo" style="width: 200px;">
        </a>
    </div>
    <nav class="navbar navbar-expand-md">
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#collapsibleProfile">
                <i class="fa fa-user h1-gradient" aria-hidden="true"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand d-lg-none d-xl-none d-md-none" href="#">
                <img src="{% static 'img/navbar-logo.png' %}" alt="logo" style="width: 90px;">
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="ml-auto navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <img src="{% static 'img/navbar-menu.svg' %}" alt="menu" class="nav-menu">
            </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="{% url 'pages:home' %}" class="nav-link">
                        <figure class="nav-strip-figure">
                            <img src="{% static 'img/home.svg' %}" alt="" class="nav-strip-figure-image">
                            <figcaption class="has-text-weight-normal hero-text caption">Acceuil</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="nav-item justify-content-center">
                    <a href="{% url 'pages:event' %}" class="nav-link">
                        <figure class="nav-strip-figure">
                            <img src="{% static 'img/event.svg' %}" alt="" class="nav-strip-figure-image">
                            <figcaption class="has-text-weight-normal hero-text caption">Événements</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="nav-item justify-content-center">
                    <a href="{% url 'pages:information' %}" class="nav-link">
                        <figure class="nav-strip-figure">
                            <img src="{% static 'img/info.svg' %}" alt="" class="nav-strip-figure-image">
                            <figcaption class="has-text-weight-normal hero-text caption">Informations</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="nav-item justify-content-center">
                    <a href="{% url 'pages:members' %}" class="nav-link">
                        <figure class="nav-strip-figure">
                            <img src="{% static 'img/join.svg' %}" alt="" class="nav-strip-figure-image">
                            <figcaption class="has-text-weight-normal hero-text caption">Rejoindre</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="nav-item justify-content-center">
                    <a href="{% url 'pages:contact' %}" class="nav-link">
                        <figure class="nav-strip-figure">
                            <img src="{% static 'img/contact.svg' %}" alt="" class="nav-strip-figure-image">
                            <figcaption class="has-text-weight-normal hero-text caption">Contact</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="nav-item justify-content-center">
                    <a href="{% url 'pages:about_us' %}" class="nav-link">
                        <figure class="nav-strip-figure">
                            <img src="{% static 'img/us.svg' %}" alt="" class="nav-strip-figure-image">
                            <figcaption class="has-text-weight-normal hero-text caption">L'association</figcaption>
                        </figure>        
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md">
        <!-- Profile section links -->
        <div class="collapse navbar-collapse" id="collapsibleProfile">
            <ul class="navbar-nav mr-auto">
                {% if not request.user.is_authenticated  %}
                {% url 'pages:login' as login_url %}
                {% if request.path != login_url %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link h2-gradient">Connexion</a>
                </li>
                {% endif %}
                {% url 'pages:signup' as signup_url %}
                {% if request.path != signup_url %}
                <li class="nav-item">
                    <a href="{% url 'pages:signup'%}" class="nav-link h2-gradient">Inscription</a>
                </li>
                {% endif %}
                {% endif %}
                {% if request.user.is_authenticated  %}
                <li class="nav-item">
                    <a href="{% url 'pages:profile' %}" class="nav-link h2-gradient">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link h2-gradient">Déconnexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>